<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="reBot">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="3.0244E-08 -1.8607E-05 0.023658"
        rpy="0 0 0" />
      <mass
        value="0.71864" />
      <inertia
        ixx="0.0016035"
        ixy="-1.1549E-08"
        ixz="3.9617E-10"
        iyy="0.00092318"
        iyz="-2.7765E-07"
        izz="0.0023446" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://reBot/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.62745 0.62745 0.62745 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://reBot/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Link1">
    <inertial>
      <origin
        xyz="0.001987 5.0452E-07 -0.030934"
        rpy="0 0 0" />
      <mass
        value="0.060251" />
      <inertia
        ixx="7.2046E-05"
        ixy="-1.7551E-10"
        ixz="7.2041E-06"
        iyy="3.9696E-05"
        iyz="4.4694E-10"
        izz="6.7575E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://reBot/meshes/Link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.62745 0.62745 0.62745 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://reBot/meshes/Link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint1"
    type="revolute">
    <origin
      xyz="0 0 0.1245"
      rpy="0 0 3.1416" />
    <parent
      link="base_link" />
    <child
      link="Link1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link2">
    <inertial>
      <origin
        xyz="0.133464625866704 0.00308937202589413 0.000687469222568574"
        rpy="0 0 0" />
      <mass
        value="0.744162666971991" />
      <inertia
        ixx="0.000260999236130728"
        ixy="4.1803013703388E-06"
        ixz="2.34862289254542E-10"
        iyy="0.00209760751771115"
        iyz="-4.3711128404059E-07"
        izz="0.00209695383002008" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://reBot/meshes/Link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.627450980392157 0.627450980392157 0.627450980392157 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://reBot/meshes/Link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint2"
    type="revolute">
    <origin
      xyz="-0.02 0 0"
      rpy="1.5708 0 0" />
    <parent
      link="Link1" />
    <child
      link="Link2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link3">
    <inertial>
      <origin
        xyz="-0.131200960467203 0.0266180692454115 0.000486763491741413"
        rpy="0 0 0" />
      <mass
        value="0.526088988004696" />
      <inertia
        ixx="0.000211286496186713"
        ixy="-0.000229180361937972"
        ixz="6.11886097228137E-08"
        iyy="0.00127272230204212"
        iyz="-2.70244924572551E-07"
        izz="0.00132314392481421" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://reBot/meshes/Link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.627450980392157 0.627450980392157 0.627450980392157 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://reBot/meshes/Link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint3"
    type="revolute">
    <origin
      xyz="0.264 0 0"
      rpy="0 0 -0.21902" />
    <parent
      link="Link2" />
    <child
      link="Link3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link4">
    <inertial>
      <origin
        xyz="-0.062833608536219 0.0535441723483397 -0.000256649124591804"
        rpy="0 0 0" />
      <mass
        value="0.18574085248192" />
      <inertia
        ixx="7.966519613982E-05"
        ixy="1.81141765590471E-05"
        ixz="-4.06307969393994E-08"
        iyy="0.000112303461385167"
        iyz="1.27039464954321E-07"
        izz="0.000108933312687588" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://reBot/meshes/Link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.627450980392157 0.627450980392157 0.627450980392157 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://reBot/meshes/Link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint4"
    type="revolute">
    <origin
      xyz="-0.24854 0 0"
      rpy="0 0 0.21902" />
    <parent
      link="Link3" />
    <child
      link="Link4" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link5">
    <inertial>
      <origin
        xyz="9.25757852037946E-05 0.00177983360892567 -0.000401468264380173"
        rpy="0 0 0" />
      <mass
        value="0.144440209301369" />
      <inertia
        ixx="5.04662432487401E-05"
        ixy="-2.77652781862721E-07"
        ixz="1.15460199088396E-08"
        iyy="6.14533212841602E-05"
        iyz="-3.10150692474122E-06"
        izz="4.86549201379931E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://reBot/meshes/Link5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.627450980392157 0.627450980392157 0.627450980392157 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://reBot/meshes/Link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint5"
    type="revolute">
    <origin
      xyz="-0.078308 -0.0025 0"
      rpy="1.5708 1.5708 0" />
    <parent
      link="Link4" />
    <child
      link="Link5" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link6">
    <inertial>
      <origin
        xyz="3.4207E-05 7.2805E-05 0.062738"
        rpy="0 0 0" />
      <mass
        value="0.24472" />
      <inertia
        ixx="6.8558E-05"
        ixy="3.2525E-08"
        ixz="2.7765E-07"
        iyy="0.00021371"
        iyz="-2.9464E-09"
        izz="0.00022931" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://reBot/meshes/Link6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.62745 0.62745 0.62745 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://reBot/meshes/Link6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint6"
    type="revolute">
    <origin
      xyz="0 -0.020692 0"
      rpy="1.5708 0 0" />
    <parent
      link="Link5" />
    <child
      link="Link6" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>